body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;

}
                                    /*Header*/
header {
  display: flex;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  background-color: black;
  align-items: center;
  z-index: 2;
}
li {
  display: inline;

}
nav {
  position: relative;
  left: 700px;
  display: inline-block;

}
.logo{
  display: flex;
}
.logo img {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
                                    /*main content*/
.content {
text-align: center;
z-index: 1;
}
                                    /*mission*/

#mission {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: block;
  background-position: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");

}
.our-mission {
  position: relative;
  top: 320px;
  width: 1200px;
  height: 73px;
  background-color: black;
  padding-top: 5px;
}
.descriptors {
  position: relative;
  top: 320px;
  width: 1200px;

}
h2, h4 {
  background-color: black;
}
h2 {
  margin-top: 10px;

}

#mission h4 {
  position: relative;
  bottom: 30px;
}
                                    /*tea of the month*/
#featured-teas {
  display: inline-block;
  width:1000px;
  padding: 50px;
}

.berry, .rum, .myrtle, .donut, .bizarre {
  height: 200px;
  width: 300px;
  margin: 0px 15px;
}

.firstrowimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  position: relative;
  left: 10px;
}
.firstrownames {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;

}
.secondrowimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  position: relative;
  bottom: 150px;
  left: 115px;
  width: 670px;
}
.secondrownames {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  bottom: 150px;
  width: 600px;
  left: 200px;
}
                                    /*locations*/
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 600px;
  width: 1200px;
  display: block;
  align-items: center;
  margin: 40px;
  position: relative;
  bottom: 350px;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 100px;
  position: relative;
  bottom: 30px;
}
.title2 {
  position: relative;
  left: 530px;
  top: 40px;
  max-width: 0px;
}
.city, .address, .room, .state {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 5px;
}
                                        /*columns*/
.firstcolumn, .secondcolumn, .thirdcolumn {
  position: relative;
  top: 80px;
  left: 60px;
  background-color: black;
  width: 300px;
  height: 300px;
}

                                    /*contact info*/
.contact {
  display: inline-block;
  height: 200px;
  position: relative;
  bottom: 390px;
}

                                    /*footer*/
.footer {
 margin: 20px;


}
